@media (max-width:1199px){
    .nav-link{
        font-size: 13px;
    }
}
@media (max-width:991px){
    #menu-iconos{
        flex-direction: row;
    }
    .nav-link{
        font-size: 16px;
    }
    #menu-iconos .nav-link{
        margin-right: 30px;
    }
}

@media (max-width:767px){
    #empresa{
        padding-top: 90px;
        padding-bottom: 90px;
    }
}