@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700;900&display=swap');
:root{
    --color1:#F24957;
    --color2:#D9308D;
    --color3:#7A38A6;
    --color4:#F2C46D;
    --color5:#F27B35;
    --color-blanco:#FFFFFF;
    --color-negro:#000000;
    --color-gris-oscuro:#555555;
    --color-gris-claro:#CCCCCC;
}
body{
    font-family: 'Poppins', sans-serif;
}
figure{
    margin-bottom: 0;
}
h1{
    font-size: 48px;
    font-weight: 900;
    letter-spacing: -3px;/* espacio entre letras */
}
h2{
    font-size: 40px;
    font-weight: 200;
    letter-spacing: -2px;
    text-transform: lowercase;/* Para que el texto se muestra en minúscula */
}
h3{
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;/* Para que el texto se muestra en mayúscula */
}
#nosotros{
    background-color: var(--color3);
    color: var(--color-blanco);
}
#valores{
    background-color:  var(--color4);
    text-align: center;
}
#valores i{
    font-size: 32px;
    color: var(--color-blanco);
}
#empresa{
    background-color: var(--color-negro);
    color: var(--color-blanco);
}
.container{
    max-width: 1600px;
}
.padded{
    padding-top: 90px;
    padding-bottom: 90px;
}

.carousel-indicators [data-bs-target] {
    height: 30px;
    border-radius: 50%;
}

#main-footer{
    background-color: var(--color-gris-oscuro);
    color: var(--color-gris-claro);
    padding: 45px 0;
}
/************************/
#noticias .container{
    position: relative;
}
#btnBlancoNegro{
    position: absolute;
    right: 0;
    cursor: pointer;
}