 
h2{
    color: white;
}
#contactos{
    background-color: black;
}
 
p{
    color:  #c6c5c4;
    font-size: 1.5rem;
    font-weight: bold;
}

#footer{
    background-color:  #070c0d ;
    padding: 20px 0px 20px 0px;
}

.form-control{
    border-radius: 15px;
    opacity: 0.6;
}

.text-form{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.3rem;
    color: #0d1b1b; 
    font-weight: bold;
    
}

#logo-iconos, #footer-icons{
    padding-top: 6%;
}
#instagram-icon, #facebook-icon{
    color:  #b5b2a8  ;
}
